name: publish-page

on:
  push:
    tags:
      - "*"
permissions:
  contents: write
  pages: write
  id-token: write
  pull-requests: write

env:
  PROJECT_NAME: asf-import-tools
  REPO_NAME: asf-import-tools
  BADGE_NAME: asf--import--tools
  NODE_JS_VERSION: "lts/*"

jobs:
  publish-ui:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6
      - name: Setup Node.js with npm
        uses: actions/setup-node@v6.2.0
        with:
          check-latest: true
          node-version: ${{ env.NODE_JS_VERSION }}
      - name: Verify Node.js
        run: node -v

      - name: Verify npm
        run: npm -v

      - name: Install npm modules
        run: npm ci

      - name: Publish
        run: |
          npm run-script generateInfo
          npm run-script build

          mkdir dist
          7z a -bd -slp -tzip -mm=Deflate -mx=5 -mfb=150 -mpass=10 "dist/${{ env.PROJECT_NAME }}.zip" "build/*"

      - name: Upload
        uses: actions/upload-artifact@v6
        with:
          name: ${{ env.PROJECT_NAME }}.zip
          path: dist/${{ env.PROJECT_NAME }}.zip

      - name: Publish to GitHub Pages
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./build
          publish_branch: gh-pages
          user_name: github-actions[bot]
          user_email: github-actions[bot]@users.noreply.github.com
          commit_message: "Deploy site from GitHub Actions: ${{ github.sha }}"

  release:
    needs: publish-ui
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Download ${{ env.PROJECT_NAME }} artifact from windows-latest
        uses: actions/download-artifact@v7
        with:
          name: ${{ env.PROJECT_NAME }}.zip
          path: out

      - name: Create ${{ env.PROJECT_NAME }} GitHub release
        uses: ncipollo/release-action@v1.20.0
        with:
          artifacts: "out/*"
          makeLatest: true
          tag: ${{ github.ref_name }}
          name: ${{ env.PROJECT_NAME }} ${{ github.ref_name }}
          body: |
            ![Release](https://img.shields.io/badge/${{ env.BADGE_NAME }}-${{ github.ref_name }}-brightgreen) ![Downloads](https://img.shields.io/github/downloads/chr233/${{ env.REPO_NAME }}/${{ github.ref_name }}/total?label=Downloads)

            ---

            release created bt github actions
